name: ponyc update breakage test

on:
  repository_dispatch:
    types:
      - shared-docker-builders-updated

permissions:
  packages: read

jobs:
  vs-ponyc-latest:
    name: Test against ponyc main
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ponylang/shared-docker-ci-standard-builder:nightly
    steps:
      - uses: actions/checkout@v4.1.1
      - name: fix home dir being overwritten by github
        run: |
          echo "HOME=/root" >> $GITHUB_ENV
      - name: add current ponyc packages dir to PONYPATH
        run: |
          PONY_LOCATION=$(ponyup show ponyc -b | awk '{ print $1 }')
          echo "PONYPATH=$HOME/.local/share/ponyup/$PONY_LOCATION/packages:$PONYPATH" >> $GITHUB_ENV
      - name: Test
        run: make test config=debug
      - name: Send alert on failure
        if: ${{ failure() }}
        uses: zulip/github-actions-zulip/send-message@e4c8f27c732ba9bd98ac6be0583096dea82feea5
        with:
          api-key: ${{ secrets.ZULIP_SCHEDULED_JOB_FAILURE_API_KEY }}
          email: ${{ secrets.ZULIP_SCHEDULED_JOB_FAILURE_EMAIL }}
          organization-url: 'https://ponylang.zulipchat.com/'
          to: notifications
          type: stream
          topic: ${{ github.repository }} scheduled job failure
          content: ${{ github.server_url}}/${{ github.repository }}/actions/runs/${{ github.run_id }} failed.
